@font-face {
  font-family: OpenSansBold;
  src: url('OpenSans-Bold.ttf');
}

@font-face {
  font-family: OpenSansRegular;
  src: url('OpenSans-Regular.ttf');
}

div {
  box-sizing: border-box;
}

.companyLogoContainer {
  width: 200px;
  height: 100%;
  border-right: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companyLogo {
  width: 190px;
  height: 190px;
  object-fit: contain;
}

.companyInfoContainer {
  flex: 1;
  /* display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between; 
  background-color: blue; */
  margin-top: 0px;
  width: 100%;
}

.infoItem {
  width: 100%;
  text-align: center;
  font-family: 'OpenSansRegular';
  color: #010d3d;
  font-size: 11px;
  margin-top: -10px;
}

.customerContainer {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logoName {
  font-family: 'OpenSansBold';
  color: #010d3d;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  width: 200px;
}

.customerRow {
  width: 100%;
  height: 27px;
  display: flex;
  /* justify-content: space-between; */
}

.customerRowLabel {
  width: 120px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'OpenSansBold';
  color: #010d3d;
  font-weight: bold;
  font-size: 14px;
  padding-left: 1px;
}

.customerTextFirst {
  flex-grow: 1;
  border-right: 1px solid;
  border-bottom: 1px solid;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'OpenSansRegular';
  color: #010d3d;
  font-size: 14px;
  padding-left: 2px;
}

.customerTextSecond {
  width: 150px;
  border-bottom: 1px solid;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  padding-left: 2px;
}

.woRow {
  display: flex;
  align-items: center;
}

.woText {
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-right: none;
  height: 27px;
  font-family: 'OpenSansRegular';
  color: #010d3d;
  font-size: 14px;
  padding-left: 2px;
  padding-right: 2px;
}

.secondRowWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.secondTextWrapper {
  flex: 1;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-right: none;
  /* border-bottom: solid 1px; */
  font-family: 'OpenSansRegular';
  color: #010d3d;
  font-size: 14px;
}

.labelText {
  font-family: 'OpenSansBold';
  color: #010d3d;
  font-size: 14px;
  font-weight: bold;
  padding-left: 1px;
}

.techRow {
  width: 100%;
  height: 20px;
  display: flex;
}
.techRowItem {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.signatureLabel {
  width: 20%;
  border-right: solid 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2px;
}

.signatureLabelContainer {
  display: flex;
  border-bottom: solid 1px;
  height: 50%;
}

.signatureContent {
  width: 60%;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
